.navigation{
    /* 标题块 宽1000px居中 */
    width: 1000px;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.navigation>ul{
    /* ul 行高40px 垂直居中 */
    list-style: none;
    overflow: hidden;
    line-height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.navigation>ul>li{
    /* li 浮动 */
    float: left;
    display: block;
    margin-right: 10px;
    text-align: center;
}
.navigation>ul>li>img{
    /* >图片水平居中 */
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.navigation>ul>li:not(:first-child){
    /* 缩进30px 避免被>覆盖 */
    text-indent: 30px;
}